<h1>Listing reservoirs</h1>

<table>
  <tr>
    <th>Ingredient</th>
    <th>Bay</th>
  </tr>

<% for reservoir in @reservoirs %>
  <tr>
    <td><%=h reservoir.ingredient_id %></td>
    <td><%=h reservoir.bay %></td>
    <td><%= link_to 'Show', reservoir %></td>
    <td><%= link_to 'Edit', edit_reservoir_path(reservoir) %></td>
    <td><%= link_to 'Destroy', reservoir, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reservoir', new_reservoir_path %>
